extends ../layout
block content
    .container
        .row
            .col-md-5
                dl.dl-horizontal
                    dt:英文名称
                    dd #{article.gamename_en}
                    dt 中文名称
                    dd #{article.gamename_cn}
                    dt 游戏类型
                    dd #{article.gametype}
                    dt 运行平台
                    dd #{article.gameplatform}
                    dt 所需外设
                    dd #{article.peripherals}
                    dt 游戏语言
                    dd #{article.gamelanguage}
                    dt 当前版本
                    dd #{article.gameversion}
                    dt 最后更新
                    dd #{article.lastupdate}
                    dt 开发工具
                    dd #{article.devtools}
                    dt 游戏安装包
                    dd <a href=#{article.packagelink} target="_blank">百度网盘&nbsp;</a>&nbsp;&nbsp;Password:&nbsp;#{article.packagepassword}
                    dt 游戏简介
                    dd #{article.gamesummary}
                    <hr>
            .col-md-7
                img(src="#{article.poster0}",width="640",height="360",alt="#{article.title}")
                <hr>
                img(src="#{article.poster1}",width="640",height="360",alt="#{article.title}")
                <hr>
                img(src="#{article.poster2}",width="640",height="360",alt="#{article.title}")
                <hr>
                img(src="#{article.poster3}",width="640",height="360",alt="#{article.title}")
                <hr>