extends ../layout
block content
    .container
        .text-center
            .jumbotron
                h2 <strong>The next "Plants vs. Zombies"?</strong>
                h4 这是一个2D塔防游戏，但还未开发完成 : P
                p
                    |<a class="btn btn-default btn-lg disabled" href="#" role="button">&nbsp;&nbsp;&nbsp;&nbsp;Coming Soon&nbsp;&nbsp;&nbsp;&nbsp;</a>
        .row
            each item in movies
                .col-md-4
                    .thumbnail
                        //-a(href="/article/#{item._id}")
                        img(src="#{item.poster}", alt="#{item.title}")
                        .caption
                            .text-center
                                h4 <strong>#{item.title}</strong>
                                p: a.btn.btn-success.btn-sm.disabled(href="/article/#{item._id}", role="button") 更多内容